/code-ii/out
/env
/.vscode
/code-jj/Trigger
/code-jj/.vscode
/code-jj/Report/pythontex-files-report
/code-jj/Report/Report.aux
/code-jj/Report/Report.fdb_latexmk
/code-jj/Report/Report.fls
/code-jj/Report/Report.log
/code-jj/Report/Report.out
/code-jj/Report/Report.pdf
/code-jj/Report/Report.pytxcode
/code-jj/Report/Report.synctex.gz